<div id="wrapper" class="active">
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(category.id) %></li>
          <% end %>

          </ul>
      </div>
</div>
