<div class="jumbotron">
      <div class="container">
        <h1>Welcome to ElfyExpress!</h1>
        <br>
        <p>In need of some Christmas cheer? We have everything to bring some Christmas magic to your home. Trees, ornaments, lights...</p>
        <br>
        <img src="http://eskipaper.com/images/christmas-cat-1.jpg" class="cat">
        <br>
        <br/>
        <p>If all else fails, try a kitten.</p>
      
      </div>
    </div>
